@use "../general/mixins" as *;

.file-link {
  display: flex;
  align-items: flex-start;

  color: var(--gray);

  gap: 10px;

  &__icon {
    flex-shrink: 0;
  }

  &__info {
    display: grid;

    @include font(14px, 24px, 400);
  }

  &__meta {
    color: var(--gray-medium);
  }
}
