@use "../general/mixins" as *;

.notification {
  @include font(16px, 24px, 400);
  padding: 10px 16px;

  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
  border-radius: 8px;

  font-style: italic;
}
