@use "../general/mixins" as *;

.book-container {
  &__grid {
    display: grid;
    align-items: start;
    margin-top: 57px;

    gap: 28px;

    @include up(lg) {
      grid-template-columns: 310px 1fr;
    }

    @include up(xl) {
      grid-template-columns: 400px 1fr;
    }
  }

  &__aside,
  &__content {
    display: contents;

    @include up(md) {
      display: grid;

      gap: 40px;
    }
  }

  &__about-section {
    display: contents;

    @include up(md) {
      display: grid;
    }
  }

  &__about-title {
    order: 0;
  }

  &__side-book {
    order: 1;
  }

  &__about-content {
    order: 2;
  }

  &__podcast {
    order: 3;
  }

  &__school-section {
    order: 4;
  }

  &__share {
    order: 5;
  }

  &__course {
    order: 6;
  }

  &__test {
    order: 7;
  }

  &__books {
    order: 8;
  }

  &__tabs {
    order: 9;
  }

  // TODO
  &__school {
    display: grid;
    grid-template-columns: 265px 1fr;
    margin-bottom: 12px;

    gap: 18px;

    @include up(md) {
      grid-template-columns: 300px 1fr;
    }

    @include up(lg) {
      grid-template-columns: 360px 1fr;
    }
  }

  &__school-image {
    overflow-x: auto;

    img {
      max-width: none;
    }
  }

  &__school-links {
    display: grid;
    margin: 0;
    padding: 0;

    list-style: none;

    gap: 20px;
  }
}
