@use "../general/mixins" as *;

.index-container {
  &__grid {
    display: grid;
    align-items: start;
    margin-top: 57px;

    gap: 28px;

    @include up(lg) {
      grid-template-columns: 310px 1fr;
    }

    @include up(xl) {
      grid-template-columns: 400px 1fr;
    }
  }

  &__aside,
  &__content {
    display: contents;

    @include up(lg) {
      display: grid;

      gap: 40px;
    }
  }

  &__last-articles {
    display: grid;
    order: 1;

    gap: 32px;
  }

  &__lectures-list {
    order: 2;
  }

  &__messages {
    order: 3;
  }

  &__poll {
    order: 4;
  }

  &__benchmarks {
    margin-top: 60px;

    @include up(lg) {
      margin-top: 37px;
    }
  }

  &__accordions {
    display: grid;

    gap: 16px;

    @include up(md) {
      display: none;
    }
  }

  // TODO: make separate blocks
  &__accordion-content {
    display: grid;

    gap: 39px;
  }

  &__table {
    display: none;

    @include up(md) {
      display: block;
    }
  }

  &__table-link {
    display: flex;
    align-items: center;
    margin-top: -2px;
    margin-left: -2px;

    gap: 12px;

    .table__row:first-child & {
      margin-top: -1px;
    }

    .table__row:last-child & {
      margin-bottom: -1px;
    }
  }

  &__table-link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;

    border: 2px solid var(--orange);

    background-color: var(--white);

    color: var(--orange);
  }
}
