<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <button class="header__burger-button" type="button" aria-label="Открыть меню">
        <svg viewBox="0 0 43 28" width="43" height="28">
          <use href="/sprite.svg#burger-icon" x="0" y="0"></use>
        </svg>
      </button>

      <div class="header__categories">
        <ul class="header__categories-list">
          <li>
            <a class="header__categories-link header__categories-link_active" href="/public">Клиентам</a>
          </li>
          <li>
            <a class="header__categories-link" href="#">Акционерам</a>
          </li>
          <li>
            <a class="header__categories-link" href="#">Сотрудникам</a>
          </li>
        </ul>
      </div>

      <nav class="header__nav">
        <ul class="header__nav-list">
          <li>
            <a class="header__nav-link header__nav-link_active" href="/public">
              <svg class="header__nav-link-home-icon" viewBox="0 0 31 30" width="31" height="30" aria-hidden="true">
                <use href="/sprite.svg#home-icon" x="0" y="0"></use>
              </svg>
              <span class="header__nav-link-home-text">Клиентам</span>
            </a>
          </li>
          <li>
            <a class="header__nav-link" href="#">О компании</a>
          </li>
          <li>
            <a class="header__nav-link" href="#">Аналитика</a>
          </li>
          <li>
            <a class="header__nav-link" href="#">Лекции и&nbsp;видео</a>
          </li>
          <li>
            <a class="header__nav-link" href="#">Книга</a>
          </li>
          <li>
            <a class="header__nav-link" href="#">Статьи</a>
          </li>
          <li>
            <a class="header__nav-link" href="#">Блогофорум</a>
          </li>
          <li>
            <a class="header__nav-link" href="#">Ответы на&nbsp;вопросы</a>
          </li>
          <li>
            <a class="header__nav-link" href="#">Конкурсы и&nbsp;акциии</a>
          </li>
          <li>
            <a class="header__nav-link" href="#">Раскрытие информации</a>
          </li>
        </ul>
      </nav>

      <div class="header__mobile-actions">
        <button class="header__mobile-action" type="button" aria-label="Связь с нами">
          <svg viewBox="0 0 33 35" width="33" height="35">
            <use href="/sprite.svg#phone-icon" x="0" y="0"></use>
          </svg>
        </button>
        <button class="header__mobile-action" type="button" aria-label="Открыть поиск">
          <svg viewBox="0 0 32 32" width="32" height="32">
            <use href="/sprite.svg#search-icon-2" x="0" y="0"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
