<div class="top-bar">
  <div class="top-bar__container container">
    <a class="top-bar__logo" href="/public" aria-label="Перейти на главную страницу">
      <img class="" src="/logo.svg" alt="Арсагера логотип" />
    </a>

    <div class="top-bar__info">
      <p class="top-bar__current-index">
        Индекс Арсагеры
        <span class="top-bar__current-index-value"> <span class="accent-text">0,62%</span> |+0,37 п.п.</span>
        на 12.09.2024
      </p>

      <div class="top-bar__connect">
        <button class="link link_gray link_responsive" type="button">Перезвонить Вам?</button>
        <a class="top-bar__connect-link" href="tel:88123130530">8 812 313 05 30</a>
        <button class="link link_gray link_responsive" type="button">Связь с нами</button>
      </div>
    </div>

    <div class="top-bar__actions">
      <a class="button button_blue" href="#">Стать клиентом</a>
      <div class="top-bar__dropdown-box">
        <button
          class="top-bar__dropdown-action button button_orange button_full-width"
          type="button"
          data-dropdown-button
        >
          Войти
          <svg class="top-bar__dropdown-icon" viewBox="0 0 23 10" width="23" height="10" aria-hidden="true">
            <use href="/sprite.svg#arrow-down-icon" x="0" y="0"></use>
          </svg>
        </button>
        <ul class="top-bar__dropdown" data-dropdown>
          <li>
            <button class="top-bar__dropdown-button" type="button">На сайт</button>
          </li>
          <li>
            <a class="top-bar__dropdown-button" href="#">В Личный кабинет</a>
          </li>
        </ul>
      </div>
      <a class="top-bar__action-link link link_orange" href="#"
        >Мы не работаем <br />
        с Клиентом, если...</a
      >
    </div>

    <img class="top-bar__slogan" src="/slogan.svg" alt="Забота о будущем с 2004 года" />
  </div>
</div>
