@use "../general/mixins" as *;

.fund-structure {
  display: grid;

  gap: 24px;

  &__item {
    display: grid;

    gap: 8px;
  }

  &__title {
    @include font(16px, 26px, 500);
    margin-bottom: 8px;

    color: var(--orange);
    font-weight: 500;
  }

  &__subtitle {
    @include font(16px, 26px, 500);
    color: var(--gray-dark);
  }

  &__text {
    @include font(16px, 26px, 400);

    &_sub {
      color: var(--gray-tech);
    }
  }

  &__link {
    justify-self: end;
  }
}
