@use "../general/mixins" as *;

.investment-conditions {
  display: grid;

  gap: 40px;

  &__title {
    @include font(16px, 26px, 500);
    margin-top: 0;
    margin-bottom: 16px;
  }

  &__table {
    th {
      text-align: left;
    }

    td {
      text-align: center;
    }

    .table__cell {
      padding: 12px;

      vertical-align: middle;
    }

    .table__row_sub {
      .table__cell:first-child {
        padding-left: 40px;

        @include up(md) {
          padding-left: 100px;
        }
      }
    }

    @include down(md) {
      .table__element,
      .table__body,
      .table__row,
      .table__cell {
        display: block;
      }

      .table__body {
        border: 2px solid var(--gray-light);
        border-radius: 4px;
      }

      .table__cell {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        min-height: 68px;
        padding-top: 12px;
        padding-bottom: 12px;
        border: none !important; // stylelint-disable-line
        border-radius: 0 !important; // stylelint-disable-line

        text-align: center;
      }

      .table__row:has(> :nth-child(2):nth-last-child(1)) .table__cell {
        width: 100%;
      }

      .table__row.table__row_sub:nth-child(odd) .table__cell:nth-child(odd),
      .table__row.table__row_sub:nth-child(even) .table__cell:nth-child(odd),
      .table__row:nth-child(odd) .table__cell:nth-child(even) {
        background-color: var(--white);
      }

      .table__row:nth-child(even) .table__cell:nth-child(odd) {
        background-color: var(--gray-bg);
      }

      .table__row {
        &_sub {
          display: grid;
          grid-auto-columns: 1fr;
          grid-auto-flow: column;
        }
      }
    }
  }
}
