@use "../general/mixins" as *;

.last-article {
  display: grid;

  gap: 16px;

  @include up(xl) {
    grid-template-columns: 200px 1fr;
  }

  ul {
    display: grid;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 18px;

    gap: 12px;
  }

  &__date-box {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding-right: 22px;
    padding-left: 22px;
    overflow: hidden;

    border-radius: 8px;

    background-color: var(--gray-bg);

    text-align: center;

    gap: 4px;

    @include up(lg) {
      width: fit-content;
    }

    @include up(xl) {
      flex-direction: column;
      align-items: center;
      width: 200px;
      height: 132px;

      gap: 0;
    }
  }

  &__number {
    @include font(18px, 35px, 700);

    color: var(--blue);

    @include up(xl) {
      @include font(30px, 38px, 600);
      margin-bottom: 12px;

      color: var(--gray-dark);
    }
  }

  &__date-large {
    @include font(16px, 35px, 600);

    @include up(xl) {
      @include font(18px, 28px, 600);
    }
  }

  &__media {
    display: none;
    width: 200px;
    height: 132px;
    overflow: hidden;

    border-radius: 8px;

    background-color: var(--gray-bg);

    @include up(xl) {
      display: flex;
    }
  }

  &__image {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  &__title {
    @include font(16px, 24px, 500);
    margin-bottom: 8px;
  }

  &__content {
    @include font(16px, 24px, 400);
  }

  &__footer {
    display: flex;
    align-items: center;

    @include up(xl) {
      grid-column: 2/3;
    }
  }

  &__date {
    color: var(--gray-medium);
  }

  &__actions {
    display: flex;
    align-items: center;
    margin-left: auto;

    gap: 18px;
  }
}
