@use "../general/mixins" as *;

.lectures-list {
  &__list {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    margin-bottom: 16px;
    //  padding-left: 11px;

    &:first-child {
      margin-bottom: 11px;
      //   padding-left: 0;
    }
  }

  &__video {
    display: grid;
    padding: 10px;

    border-radius: 8px;

    background-color: var(--gray-bg);

    gap: 7px;

    iframe {
      width: 100%;
      height: 228px;

      border-radius: 8px;

      @include up(md) {
        height: 395px;
      }

      @include up(lg) {
        height: 208px;
      }
    }
  }
}
