@use "../general/mixins" as *;

.poll {
  $root: &;

  &__form-title {
    @include font(16px, 24px, 400);
    margin-bottom: 16px;

    color: var(--blue);
  }

  &__form-items {
    display: grid;
    margin-bottom: 24px;

    gap: 16px;
  }

  &__form-item {
    #{$root}__form_voted & {
      flex-direction: column;

      gap: 8px;
    }

    #{$root}__form_voted & input {
      display: none;
    }
  }

  &__bar {
    @include font(16px, 20px, 400);
    display: none;
    position: relative;

    #{$root}__form_voted & {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__bar-progress {
    position: absolute;
    z-index: -1;
    left: 0;
    height: 20px;

    border-radius: 4px;

    background-color: var(--gray-medium);
  }
}
