@use "../general/mixins" as *;

.security-parameters {
  display: grid;

  gap: 24px;

  @include up(xl) {
    grid-template-columns: 1fr 1fr;
  }

  .table__row_sub {
    .table__cell:first-child {
      padding-left: 40px;

      white-space: nowrap;
    }
  }
}
