@use "../general/mixins" as *;

.side-book {
  display: flex;
  align-items: flex-start;

  gap: 16px;

  &__info {
    display: grid;

    gap: 12px;
  }

  &__links {
    display: grid;
    margin: 0;
    padding: 0;

    list-style: none;

    gap: 20px;
  }
}
