@use "../general/mixins" as *;

.social {
  --social-list-gap: 16px;
  --social-icon-color: var(--gray-main);
  --social-icon-hover-color: var(--orange);
  --social-icon-height: 36px;
  --social-icon-width: 36px;

  display: flex;
  flex-direction: column;

  gap: 12px;

  &_horizontal {
    flex-direction: row;
    align-items: center;
  }

  &_small {
    --social-icon-height: 30px;
    --social-icon-width: 30px;
    --social-list-gap: 8px;
  }

  &__title {
    @include font(14px, 20px, 500);

    @include up(xl) {
      @include font(16px, 20px);
    }
  }

  &__list {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;

    list-style: none;

    gap: var(--social-list-gap);
  }

  &__link {
    display: flex;
  }

  &__icon {
    display: block;
    width: var(--social-icon-width);
    height: var(--social-icon-height);

    transition: 0.2s color linear;

    color: var(--social-icon-color);

    // TODO
    @include hover {
      &:hover {
        color: var(--social-icon-hover-color);
      }
    }
  }
}
