@use "../general/mixins" as *;

.table {
  $root: &;
  border-collapse: separate;

  &__head {
    #{$root}__cell {
      padding: 0 0 15px 0;

      background-color: var(--white);

      color: var(--gray-dark);
      font-weight: 400;
    }
  }

  &__body {
    #{$root}__row:nth-child(odd) #{$root}__cell {
      background-color: var(--gray-bg);
    }

    #{$root}__row:nth-child(even) #{$root}__cell {
      background-color: var(--white);
    }

    #{$root}__row:first-child #{$root}__cell {
      border-top: 2px solid var(--gray-light);
    }

    #{$root}__row:last-child #{$root}__cell {
      border-bottom: 2px solid var(--gray-light);
    }

    #{$root}__cell:first-child {
      border-left: 2px solid var(--gray-light);
    }

    #{$root}__cell:last-child {
      border-right: 2px solid var(--gray-light);
    }

    #{$root}__row:first-child #{$root}__cell:first-child {
      border-top-left-radius: 4px;
    }

    #{$root}__row:last-child #{$root}__cell:first-child {
      border-bottom-left-radius: 4px;
    }

    #{$root}__row:first-child #{$root}__cell:last-child {
      border-top-right-radius: 4px;
    }

    #{$root}__row:last-child #{$root}__cell:last-child {
      border-bottom-right-radius: 4px;
    }
  }

  &__row {
    #{$root}_two-columns & {
      #{$root}__cell {
        width: 50%;
      }
    }
  }

  &__cell {
    @include font(16px, 20px, 400);
    height: 58px;
    padding: 6px 13px;

    text-align: center;

    #{$root}__head & {
      height: auto;
    }

    #{$root}_no-body-padding #{$root}__body & {
      padding: 0;
    }

    &_sticky {
      position: sticky;
      left: 0;

      text-align: left;
    }
  }
}
