@use "mixins" as *;

@include font-import("Inter", InterRegular, 400);
@include font-import("Inter", InterMedium, 500);
@include font-import("Inter", InterSemiBold, 600);
@include font-import("Inter", InterBold, 700);

html {
  box-sizing: border-box;

  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @include font(16px, 26px, 400);
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  color: var(--gray-main);

  font-family: "Inter", "Arial", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

svg {
  pointer-events: none;
}

[hidden] {
  display: none !important; // stylelint-disable-line
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.main {
  position: relative;
  flex: 1 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);

  border: 0;
}

.main {
  padding-top: 20px;
  padding-bottom: 60px;

  @include up(lg) {
    padding-top: 40px;
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

.section {
  &__title {
    @include font(18px, 22px, 500);
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;

    color: var(--orange);

    gap: 8px;
  }

  > p:not(:last-child) {
    margin-bottom: 16px;
  }
}

.section-blue {
  &__title {
    @include font(16px, 20px, 500);
    margin-bottom: 24px;
    padding-bottom: 12px;

    border-bottom: 2px solid var(--blue);

    color: var(--blue);
  }
}

.table-scrollable {
  position: relative;
  //padding: 2px;
  overflow: auto hidden;

  white-space: nowrap;
}

.content {
  display: grid;

  gap: 12px;

  &__title {
    @include font(16px, 26px, 500);
    margin-top: 0;
    margin-bottom: 0;
  }

  &__grid {
    display: grid;
    align-items: start;
    justify-content: flex-start;

    gap: 24px;

    @include up(xl) {
      grid-auto-columns: auto;
      grid-auto-flow: column;
      justify-content: initial;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    margin-top: 12px;

    gap: 18px;

    @include up(md) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}
